<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CTU Search</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="icon" href="/images/CTU_logo.png">
  </head>
  <body>
    <header>
      <h1>
        <span>CTU Search</span>
        <div class="loader hidden" id="loader">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
          <div class="bar4"></div>
          <div class="bar5"></div>
          <div class="bar6"></div>
          <div class="bar7"></div>
          <div class="bar8"></div>
          <div class="bar9"></div>
          <div class="bar10"></div>
          <div class="bar11"></div>
          <div class="bar12"></div>
        </div>
      </h1>
    </header>

    <div class="page">
      <main class="main-content">
        <div class="group">
          <div class="search-box">
            <svg class="icon" aria-hidden="true" viewBox="0 0 24 24">
              <g>
                <path
                  d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"
                ></path>
              </g>
            </svg>
            <input placeholder="Nhập tên tài liệu muốn tìm kiếm ..." type="search" class="input" id="keyword"/>
          </div>
        </div>

        <div class="sections-container">
          <details class="section">
            <summary id="sum-open">Open Library (0)</summary>
              <ul id="openlibrary"></ul>
            <div id="pagination-open" class="pagination"></div>
          </details>

          <details class="section">
            <summary id="sum-standard">Standard EBooks (0)</summary>
            <ul id="standardebooks"></ul>
            <div id="pagination-standard" class="pagination"></div>
          </details>

          <details class="section">
            <summary id="sum-project">Project Gutenberg (0)</summary>
            <ul id="projectgutenberg"></ul>
            <div id="pagination-project" class="pagination"></div>
          </details>

          <details class="section">
            <summary id="sum-voer">VOER (0)</summary>
            <ul id="voer"></ul>
            <div id="pagination-voer" class="pagination"></div>
          </details>
        </div>
      </main>

      <aside class="filter-panel">
        <h2>Dịch từ khóa sang</h2>
        <div class="language-select">
          <select id="targetLang" class="lang-select">
            <option value="EN" selected="">Tiếng Anh</option>
            <option value="VI">Tiếng Việt</option>
            <option value="FR">Tiếng Pháp</option>
            <option value="DE">Tiếng Đức</option>
            <option value="JA">Tiếng Nhật</option>
          </select>
        </div>
        <h2>Chế độ lọc tài liệu</h2>

        <div class="filter-group">
          <h4>Phạm vi kết quả</h4>
          <div class="filter-placeholder">
            <div class="radio-input">
              <label class="label">
                <input type="radio" id="value-1" checked="" name="value-title" value="value-1"/>
                <p class="text">Tất cả tài liệu</p>
              </label>
              <label class="label">
                <input type="radio" id="value-2" name="value-title" value="value-2" />
                <p class="text">Tiêu đề khớp từ khóa</p>
              </label>
            </div>
          </div>
        </div>

        <div class="filter-group">
          <h4>Ngôn ngữ</h4>
          <div class="filter-placeholder">
            <div class="checkbox-grid">
              <label class="checkbox-container">
                <input class="custom-checkbox" type="checkbox" name="language" value="vi" />
                <span class="checkmark"></span>
                Tiếng Việt
              </label>

              <label class="checkbox-container">
                <input class="custom-checkbox" type="checkbox" name="language" value="en" />
                <span class="checkmark"></span>
                Tiếng Anh
              </label>

              <label class="checkbox-container">
                <input class="custom-checkbox" type="checkbox" name="language" value="other" />
                <span class="checkmark"></span>
                Khác
              </label>
            </div>
          </div>
        </div>

        <div class="filter-group">
          <h4>Thời gian xuất bản</h4>
          <div class="filter-placeholder">
            <div class="radio-input radio-inline">
              <label class="label">
                <input type="radio" id="newest" checked name="value-publish" value="newest" />
                <p class="text">Gần nhất</p>
              </label>

              <label class="label">
                <input type="radio" id="oldest" name="value-publish" value="oldest" />
                <p class="text">Xa nhất</p>
              </label>
            </div>
          </div>
        </div>
      </aside>
    </div>
    <button id="scrollTopBtn" class="scroll-top cta" aria-label="Lên đầu trang">
      <svg width="15px" height="10px" viewBox="0 0 13 10">
        <path d="M1,5 L11,5"></path>
        <polyline points="8 1 12 5 8 9"></polyline>
      </svg>
    </button>
    <script>
      const scrollTopBtn = document.getElementById("scrollTopBtn");

      scrollTopBtn.addEventListener("click", () => {
          window.scrollTo({
          top: 0,
          behavior: "smooth"
          });
      });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>
    <script src="/javascript/main.js"></script>
  </body>
</html>
